NEXT_PUBLIC_SUPABASE_URL=
NEXT_PUBLIC_SUPABASE_ANON_KEY=
NEXT_PUBLIC_APP_URL=http://localhost:3000
BACKEND_URL=http://localhost:8000

NEXT_PUBLIC_RATE_LIMIT_LINKEDIN=10
NEXT_PUBLIC_RATE_LIMIT_RESUME=5
NEXT_PUBLIC_RATE_LIMIT_COVER_LETTER=5
NEXT_PUBLIC_RATE_LIMIT_INTERVIEW=10
NEXT_PUBLIC_RATE_LIMIT_SALARY=5
NEXT_PUBLIC_RATE_LIMIT_JOB_SEARCH=10
NEXT_PUBLIC_RATE_LIMIT_BULK_CAMPAIGN=500
NEXT_PUBLIC_RATE_LIMIT_BULK_MONTH=3000
NEXT_PUBLIC_RATE_LIMIT_JOB_SEARCH=10
NEXT_PUBLIC_RATE_LIMIT_STARTUP_HUNT=8


NEXT_PUBLIC_BULK_EMAIL_MIN_DELAY=20
NEXT_PUBLIC_BULK_EMAIL_DEFAULT_DELAY=30
NEXT_PUBLIC_LINKEDIN_CACHE_TTL_DAYS=7
NEXT_PUBLIC_SENTRY_DSN=

REDIS_PASSWORD=
